.categoryOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}
.container {
  padding-right: 0;
  padding-left: 100px;
  width: 100%;
  background: #f1f1f1;
}
section {
  height: 78vh;
  padding-top: 50px;
  padding-bottom: 50px;
}
.optionsHeader {
  margin: 0 40px 0 10px;
  display: flex;
  justify-content: flex-start;
}
.resultsData {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: #d8d8ef;
  height: 100%;
}
.categoryInfo {
  display: flex;
  justify-content: space-between;
}
.actions {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 425px) {
}
